{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project = project.short_name %}

{% block content %}
    <script>
        Modernizr.load({
            test: window.JSON,
            nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
        });
    </script>
    <script src="{{ url_for('static', filename="js/pybossa/pybossa.js") }}" type="text/javascript"></script>


    {% if active_project ==  "mvp-01" or active_project ==  "mvp-01-janette" %}

        <script src="{{ url_for('static', filename="js/vendor/jquery.elevateZoom.min.js") }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename="js/vendor/raphael-min.js") }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename="js/vendor/device.js") }}" type="text/javascript"></script>
        <script type="text/javascript" async="async">
            console.log("device.portrait() === %s", device.portrait());
      console.log("device.landscape() === %s", device.landscape());
      console.log("device.mobile() === %s", device.mobile());
      console.log("device.tablet() === %s", device.tablet());
      console.log("device.ipad() === %s", device.ipad());
      console.log("device.ipod() === %s", device.ipod());
      console.log("device.iphone() === %s", device.iphone());
      console.log("device.android() === %s", device.android());
      console.log("device.androidTablet() === %s", device.androidTablet());
      console.log("device.blackberryTablet() === %s", device.blackberryTablet());
      console.log("device.fxos() === %s", device.fxos());
      console.log("device.fxosPhone() === %s", device.fxosPhone());
      console.log("device.fxosTablet() === %s", device.fxosTablet());

      var devicejs = device.noConflict();

      console.log ("device.noConflict() [previous]", window.device);
      console.log ("device.noConflict() [device.js]", devicejs.iphone());
        </script>


{#        <script src="{{ url_for('static', filename="js/grid.js") }}" type="text/javascript"></script>#}

    {% endif %}


    <div class="row">
        <div class="span12">
            <h1>
                <a href="{{ url_for('project.details', short_name=project.short_name) }}">{{ project.name }}</a>: {{ _('Contribute') }}
            </h1>
        </div>
    </div>
    {% if invite_new_volunteers %}
        <div class="row">
            <div class="span12">
                <p>
                    {{ _("Sorry, you've contributed to all the tasks for this project, but this project still needs more volunteers, so please spread the word!") }}
                </p>
            </div>
        </div>
    {% endif %}
    {{ project.info.task_presenter|safe }}


    <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
            en
        {% else %}
            {{ current_user.locale }}
        {% endif %}
    </div>

{% endblock %}
